.todo
{
  display:flex;
  padding: 10px 15px;
  background-color: white;
  border-bottom: 1px solid black;

}
.todo .id
{
  flex: 1 1 50px;
}
.todo .content
{
  flex: 1 1 100px;
}
.todo.done .content
{
  text-decoration: line-through;
}
.input
{
  display: block;
  width: 50%;
  padding: 10px 15px;
  border: none;
	background-color: #f5f1f1;
	font-size: 20px;
  margin: auto;
}
.submit
{
  display: block;
	width: 100%;
	max-width: 100px;
	border: none;
	background-color: #c94b71;
	color: rgb(32, 27, 27);
	margin: 15px auto;
	padding: 10px 10px;
	font-size: 17px;
	font-weight: 600;
}
.todo:nth-child(even) {
	background-color: #EEE;
}
.todo:nth-child(odd) {
	background-color: rgb(230, 219, 219);
}


